<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>ello - never forget || get things done</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">



    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="../styles/loginStyles.css">

</head>

<body>

    <!-- Header -->
  <header id="top" class="header">
      <div class="text-vertical-center">
          <h1>ello</h1>
          <h3>Platform to work smart and get more done</h3>
          <br>
          <p>
            Login or register with:
          </p>
          <a href="/auth/facebook" class="btn btn-primary btn-xl"><span class="fa fa-facebook"></span> Facebook</a>
      </div>
  </header>

</body>

</html>
